@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,300&display=swap');

$hue1: #0F0F0F;
$hue2: #232D3F;
$hue3: #027e4f;
$hue4: #00d0b5;

body{
  background-color: $hue1;
  color: black;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}