@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,400;1,300&display=swap');

$hue1: #0F0F0F;
$hue2: #232D3F;
$hue3: #005B41;
$hue4: #008170;

body{
  background-color: white;
  color: black;
  font-family: 'Raleway', sans-serif;
}