$hue1: #0F0F0F;
$hue2: #232D3F;
$hue3: #027e4f;
$hue4: #00d0b5;

.section {
    border: $hue4 2px solid;
    background-color: $hue2;
    border-radius: 10px;;
    display: flex;
    width: 100%;
    height: 90vh;
    margin-bottom: 20px;
    display: flex;
    align-items: center;;

    &.left {
      flex-direction: row;
    }

    &.right {
      flex-direction: row-reverse;
    }

    .image {
      flex: 1;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    p {
      flex: 1;
      padding: 0 20px; 
      font-size: 1.8rem;
    }
  }